@import url(https://fonts.googleapis.com/css?family=Lato);

@import 'includes/layout';

@import 'includes/header';

@import 'includes/sections/about';
@import 'includes/sections/portfolio';
@import 'includes/sections/blog';

body{
  margin: 0;
  background: #F4F4F4;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.home-wrap{
  display: flex;
  min-height: 100vh;
    height:2000px;
  @media screen and (max-width: 800px) {
  display: block;
  }
}


.home-sections{
  flex:1;
    section{
      padding: 40px 0;
      color:#fff;
      min-height: 50px;
      @media screen and (max-width: $mobilebreak) {
        text-align: center;
      }
    }
}
