doctype html
html(lang="en")
  
    include ./includes/head.jade
    
  body

    .home-wrap
      
      include ./includes/nav.jade
    
      .home-sections
        
        include ./includes/sections/section-about.jade

        include ./includes/sections/section-portfolio.jade
        
        include ./includes/sections/section-blog.jade
