section(id = 'about')
  .flex.flex-spaced
    .col-1
      .face
    .col-2
      h1 About Me
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nunc augue. Proin aliquet maximus odio, et aliquam eros malesuada nec. Mauris tincidunt lacus at diam maximus, a auctor ipsum interdum. Maecenas ultrices iaculis placerat. Quisque vestibulum blandit dui id ultricies. Fusce risus tellus, finibus vel quam non, dictum scelerisque lacus. In hac habitasse platea dictumst. In sollicitudin molestie dapibus.
