section(id = 'blog')    
    
    .flex.flex-centered
      
      .col-50.flex.flex-centered.order-last
        .col-1
          h1 Blogs
          p Read a young developers storys
          p --
      
      .col-50
        .article-wrap
          .article
            .article-meta
              .name Alot of words in a small space
              
          .article
            .article-meta
              .name yet2learn
              
          .article
            .article-meta
              .name yet2learn
              
          .article
            .article-meta
              .name yet2learn
              
          .article.hide
            .article-meta
              .name yet2learn
              
          .article.hide
            .article-meta
              .name yet2learn
              
          .article.hide
            .article-meta
              .name yet2learn
              
          .article.hide
            .article-meta
              .name yet2learn
              
          .article.hide
            .article-meta
              .name yet2learn
              
