
section(id = 'portfolio')
  .flex.flex-centered
    .col-50.flex.flex-centered
      .col-1
        h1 Portfolio
        p Check out some of my favoute pieces
        p --
        
    .col-50
      .portfolio-wrap
        
        h1(href="#" style = "background-image:url('Images/apple.svg')").portfolio-thumb
          .portfolio-meta
            .name yet2learn
        
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb
          .portfolio-meta
            .name yet2learn

        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb
          .portfolio-meta
            .name yet2learn
            
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb
          .portfolio-meta
            .name yet2learn
            
        
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
        
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn

        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
            a(href="#").link
            a(href="#").link 
             
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
            
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
        
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
      
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
            
        h1(href="#" style = "background-image:url('Images/y2lLogo.png')").portfolio-thumb.hide
          .portfolio-meta
            .name yet2learn
