$mobilebreak:800px;

.logo{
  background: url('../Images/logo.svg');
  width: 100%;
  height:50px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: $mobilebreak) {
    width: 100%;
  }
}

header{
  width:150px;
  min-height:100vh;
  background-color: #ffffff;
  box-shadow: -59px 0px 35px 49px #B4B4B4;

  @media screen and (max-width: $mobilebreak) {
    width: auto;
    min-height: auto;
    padding:20px 0;
    box-shadow: none;
  }

  .header-position{
    position:fixed;
    width:150px;
    top: 0;
    left:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $mobilebreak) {
      position:relative;
      width:auto;
      top:auto;
      bottom: auto;
      left: auto;
      flex-direction:row;
      align-items: center;
    }

  }
  a{
    text-decoration: none;
    color:#888;
    &:hover{
      color:#C1C1C1;
    }
  }
}

section{
  flex: 1;
}

.social{
  @media screen and (max-width: $mobilebreak) {
    display: none;
  }
}

.site-nav{
  ul{
    padding: 0 20px;
    margin: 0;
    list-style: none;
    margin: 20px 0;
    text-align:right;
    font-size:25px;
    li{
      margin: 15px 0;
    }
  }
  @media screen and (max-width: $mobilebreak) {
    display: none;
  }
}

.mobile-nav-toggle{
  width:50px;
  height: 50px;
  background: #222;
  margin-right: 50px ;
  display: none;
  cursor: pointer;
  @media screen and (max-width: $mobilebreak) {
    display: block;
  }
}

.mobile-nav{
  display: none;
  position: absolute;
  width: 100%;
  padding: 70px 0 10px;
  transform: translateY(-100%);
  transition: all .6s ease-in-out;
  border-top: 2px solid #fff;
  a{
    color:#222;
    display: block;
    padding: 10px;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;

    li{
      font-size:20px;
      text-align: center;
      padding: 20px
    }
  }
}

@media screen and (max-width: $mobilebreak) {
  .mobile-nav.is-open{
    display: block;
    transform: translateY(0%);
  }

}
