@mixin clearfix {
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}

.order-last{
  order: 1;
}

$mobilebreak:800px;

.container{
  max-width: 1000px;
  display: table;
  margin: auto;
}
.home-sections{
  .flex{
    display: flex;
  //  flex-direction: row;
    @media screen and (max-width: $mobilebreak) {
      display: block;
    }
  }
  .flex-centered{
    justify-content: center;
  }
  .flex-spaced{
    justify-content: space-around;
  }
}

.col-1{
  max-width: 320px;
  padding: 0 10px;
  box-sizing: border-box;
  @media screen and (max-width: $mobilebreak) {
    max-width: 100%;
  }
}

.col-2{
  max-width: 640px;
  padding: 0 10px;
  box-sizing: border-box;
  @media screen and (max-width: $mobilebreak ) {
    max-width: 100%;
  }
}

.col-50{
  width:50%;
  @media screen and (max-width: $mobilebreak ) {
    width: 100%;
  }
}
