.home-sections section#about{
  background: url('../Images/restaurant.png') #C4DCE5;
  p{
    margin: 20px 0;
    letter-spacing: 0.1em;
    line-height: 24px;
  }
}

.face{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url('../Images/face.jpg')#222;
  margin: 20px auto;
}
