.home-sections section#blog{
  background: url('../Images/school.png') #D9B15A;
  overflow: hidden;
  padding: 0;

  .col-1{
    padding:20px;
    h1{
      font-size: 60px;
      font-weight: 400;
    }
  }
}
.article-wrap{
  flex-flow:column wrap;
  width: 100%;

  @media screen and (max-width: $mobilebreak) {
    width:100%;
    display: table;
    margin: auto;
  }

}
.article{
  overflow: hidden;
  position: relative;
  width: 33.333333%;
  background: url('') #d24646;
  box-sizing: border-box;
  flex-grow:0;
  flex-basis:50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 400px) {
    display: inline-block;
    width:50%;
  }

  &::after{
    content: "";
    display: block;
    padding-top:100%;
  }
}

.article-meta{
  background: fade-out(#2997cd, 0.3);
  color:#fff;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding: 10px;
  transform:translate(100%, -100%) scale(0.5);
  transition:all 0.3s ease-in-out;
  opacity: 0;
  text-transform: capitalize;
  text-align: center;
  @media screen and (max-width: 1100px) {
    font-size: 100%;
    font-weight: 500;
  }
}

.article:hover .article-meta, .article:active .article-meta, .article:focus .article-meta{
  opacity: 1;
  transform:translate(0%, 0%) scale(1);
}
