.home-sections section#portfolio{
  background: url('../Images/food.png') #9ED95A;
  overflow: hidden;
  padding: 0;

  .col-1{
    padding:20px;
    h1{
      font-size: 60px;
      font-weight: 400;
    }
  }
}

.portfolio-wrap{
  @include clearfix;
}

.portfolio-thumb{
  display: block;
  background: #3b32a4 ;
  background-size: cover;
  width:25%;
  float: left;
  position:relative;
  overflow: hidden;
  @media screen and (max-width: $mobilebreak) {
    width:50%;
  }

  &::after{
    content: "";
    display: block;
    padding-top:100%;
  }
}

@media only screen and (max-width: $mobilebreak) {
  .hide{
    display: none;
  }
}

.portfolio-meta{
  position:absolute;
  background: fade-out(#2997cd, 0.3);
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:#fff;
  padding: 10px;
  transform:translate(0%, 100%) scale(0.5);
  transition:all 0.3s ease-in-out;
  opacity: 0;
  text-transform: capitalize;
  text-align: center;
  @media screen and (max-width: 1100px) {
    font-size: 16px;
    font-weight: 500;
  }
  @media screen and (max-width: $mobilebreak) {
    font-size: 60px;
    font-weight: 400;
  }
  @media screen and (max-width: 530px) {
    font-size: 20px;
  }
}

.portfolio-thumb:hover .portfolio-meta{
  opacity: 1;
  transform:translate(0%, 0%) scale(1);
}
