head
  meta(charset="utf-8")
  title ttt

  meta(name="viewport" content="width=device-width")
    
  <!-- bower:css -->
  <!-- endbower -->
  link(rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8")
    
  <!-- bower:js -->
  <!-- endbower -->
  script(src="js/main.js" charset="utf-8")
