mixin header-nav
  ul
    li 
      a(class = 'nav-link' href="#about") About
    li 
      a(class = 'nav-link' href="#portfolio") Portfolio
    li
      a(class = 'nav-link' href="#blog") Blog
    li 
      a(class = 'nav-link' href="#contact") Contact      

.mobile-nav
  +header-nav

header
  .header-position
    h1(class = 'logo')
    nav(class ='site-nav')
      +header-nav
          
    h3(class = 'social') Github
    
    .mobile-nav-toggle
